{% extends 'profile/base.html.twig' %}

{% block classMain %}
    search
{% endblock %}

{% block main %}
    <section class="result">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-5 bloc-search">
                    <h4>Offres trouvées</h4>
                    {% for offre in offres %}
                        <a href="{{ path('admin_offre_show', {'id' : offre.id }) }}">{{ offre.title }} | {{ offre.game }} | {{ offre.edition}} | {{ offre.publishedAt | date('d-m-y') }}</a>
                        <br>
                    {% endfor %}
                </div>
                <div class="col-12 col-sm-5 offset-sm-2 bloc-search">
                    <h4>Demandes trouvées</h4>
                    {% for demande in demandes %}
                        <a href="{{ path('admin_demande_show', {'id' : demande.id }) }}">{{ demande.title }} | {{ demande.game }} | {{ demande.edition}} | {{ demande.publishedAt | date('d-m-y') }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}