{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block classMain %}
    article-show
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="row article-box">
                <div class="col-12 text-center">
                    <img src="{{ asset('assets/img/' ~ article.image) }}" alt="article image">
                </div>
                <div class="col-12">
                    <h2>{{ article.title }}</h2>
                    <p>publié le : {{ article.publishedAt | date('d-m-y') }}</p>
                    <p>Auteur : {{ article.user.username }}</p>
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}