{% extends 'front/base.html.twig' %}


{% block title %}
    Liste d'offres Magic
{% endblock %}

{% block classMain %}
    demande-list
{% endblock %}

{% block main %}
    {% for demande in demandes %}
        <div class="row align-items-center justify-content-around annonce-line">
            <div class="col-12 text-center col-lg-12 text-lg-start annonce">
                <a href="{{ path('demande_show', {'id' :demande.id }) }}">{{ demande.title }} | {{ demande.game }} | {{ demande.edition}} | {{ demande.publishedAt | date('d-m-y') }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}