{% extends 'front/base.html.twig' %}


{% block title %}
    Liste d'offres Magic
{% endblock %}

{% block classMain %}
    offre-list
{% endblock %}

{% block main %}
    {% for offre in offres %}
        <div class="row align-items-center justify-content-around annonce-line">
            <div class="col-12 text-center col-lg-12 text-lg-start annonce">
                <a href="{{ path('offre_show', {'id' :offre.id }) }}">{{ offre.title }} | {{ offre.game }} | {{ offre.edition}} | {{ offre.publishedAt | date('d-m-y') }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}