<div class="row">
    <div class="col-12">
        <h4>{{ demande.title }}</h4>
        <p>{{ demande.game }}</p>
        <p>{{ demande.edition }}</p>
        <p>Propriétaire : {{ demande.user.username }}</p>
        <p>Publié le : {{ demande.publishedAt | date('d-m-y') }}</p>
        <p>Commentaire :</p>
        <p>{{ demande.comment }}</p>
    </div>
</div>